*
{
  font-family: "Audiowide", sans-serif, Arial, "Times New Roman", Times, serif;
  letter-spacing: 1px;
}
body
{
  max-width: 1500px;
  text-align: center;
  margin: auto;
}
h1, h2, h3, h4, h5, h6
{
  font-family: "Audiowide", serif, Arial, Times;
  text-shadow: 3px 3px 3px #ababab;
  letter-spacing: 5px;
}
h2
{
  background-image: linear-gradient(to right, #151e2d , #000153);
  color: white;
}
h3
{
  font-size: 18px;
}
body
{
    background-image: linear-gradient(to right, grey, #151e2d )
}

li
{
  list-style-type: none; /* Remove bullets */
  font-size: 1em;
  padding: 5px;
  text-align: left;
}

ul
{
  margin: 0px;
  padding: 10px;
  text-align: left;
  float: left;
  color: white;
  width: 100%;
}

article h3
{
  background-color: green;
  color: white;
}
.card
{
  background-image: url('../img/ball.png');
  background-repeat: no-repeat;
}
.avatar
{
  width: 100%;
  max-width:200px;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px)
{
  h2
  {
    font-size: 16px;
  }
}
