*
{
  font-family: "Audiowide", sans-serif, Arial, "Times New Roman", Times, serif;
  letter-spacing: 1px;
}
body
{
  max-width: 1500px;
  text-align: center;
  margin: auto;
  
}
body
{
    background-image: linear-gradient(to right, grey, #151e2d )
}


h1, h2, h3, h4, h5, h6
{
  font-family: "Audiowide", serif, Arial, Times;
  text-shadow: 3px 3px 3px #ababab;
  letter-spacing: 5px;
}
h2
{
  background-image: linear-gradient(to right, #151e2d , #000153);
  color: white;
  text-align:left;
  background-image: linear-gradient(to right, rgba(0,255,255,0.3) , rgba(0,0,0,0));width:100%;
}

h3
{
  font-size: 18px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;

}

li
{
  list-style-type: none; /* Remove bullets */
  font-size: 1em;
  padding: 5px;
  text-align: left;
}

ul
{
  margin: 0px;
  padding: 10px;
  text-align: left;
  float: left;
  color: white;
  width: 100%;
}
aside h1
{
  width : 100%;
  color:white;
  font-size:xlarge;
}
aside .w3-card-4
{
  width:100%;  
  background-image: linear-gradient(to right, #151e2d , #000153);
  border-radius: 70%  70% 70% 70%; 
  padding-top:20px; 
  padding-bottom:20px;
}
article h3
{
  font-size: 14px;
  text-align: left;
  background-color: green;

  color: white;
  text-decoration: underline;

  text-decoration-color: rgba(0, 255, 128, 0.5);
}

.card
{
  background-image: url('../img/ball.png');
  background-repeat: no-repeat;
}
.avatar
{
  width: 100%;
  max-width:200px;
}

.stats-gradient-low 
{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
.stats-gradient-medium 
{
  background-image: linear-gradient(to right, rgba(255,204,0,.2),  rgba(255,153,0,1));
}
.stats-gradient-high 
{
  background-image: linear-gradient(to right, rgba(0,255,0,.2),  rgba(0,255,0,1));
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px)
{
  
  .w3-container
  {
    padding:2px;
    margin:2px;
  }

  aside
  {
    padding:0px;
  }
  
  h2
  {
    font-size: 16px;
  }
}
