<picture>
  <a href="https://www.2mn.info/">
    <img src="https://www.2mn.info/img/logos/mmn-mg-meziani.png" width='70px'>
  </a>
</picture>

  <h1 id="id01">{{jobTitle}}</h1>

  <div class="w3-card-4 w3-blue">


    <img src="./img/ball_.png" alt="logo" style=" width:10%;  background-image: linear-gradient(to right, #031871 , #000153);" class="w3-opacity-min w3-circle w3-card w3-spin">

  <div class=" " style="width:100%; background-image: linear-gradient(to right, #151e2d, #000153);  border-radius: 25px  25px 50px 50px;  padding-top:50px" >

    <div class="w3-container w3-center w3-padding">

      <div class="w3-display-container w3-card card">
        <picture>
          <img src="./img/sergio_nassim_real.png" alt="Avatar" class="w3-opacity-min avatar">
        </picture>
        <div class="w3-padding w3-display-topleft">92</div>
        <div class="w3-padding w3-display-topright"><img src="./img/logo.png" alt="logo" style=" width:25px;  background-image: linear-gradient(to right, #031871 , #000153);" class="w3-opacity-min w3-circle w3-card"></div>
        <div class="w3-padding w3-display-bottomleft">🇫🇷</div>
        <div class="w3-padding w3-display-bottomright"></div>
        <div class="w3-padding w3-display-topmiddle"></div>
        <div class="w3-padding w3-display-left">DFS</div>
        <div class="w3-padding w3-display-right"></div>
        <div class="w3-padding w3-display-middle"></div>
        <div class="w3-padding w3-display-bottommiddle"></div>
        <!-- display hover -->
        <div class="w3-display-middle w3-display-hover w3-xlarge">
          <button class="w3-button w3-black w3-opacity">meziani</button>
        </div>

      </div>

      <div class="w3-container">
        <h3 class="w3-border-bottom">Développeur Full Stack</h3>
        <h4>M.M.Nassim</h4>
      </div>

      <div class="w3-section">
        <button class="w3-button w3-green">Accept</button>
        <button class="w3-button w3-red">Decline</button>
      </div>

      <div class="w3-container w3-margin">

        <div class="w3-col l6 m6 s6 w3-border-right w3-border-top">

          <ul>
            <li >90 HTML5</li>
            <li >80 CSS3</li>
            <li >90 w3.css</li>
          </ul>

         </div>

        <div class="w3-col l6 m6 s6 w3-border-left w3-border-top">

          <ul>
            <li >80 JS</li>
            <li >80 PHP</li>
            <li >80 twig</li>
          </ul>

        </div>

      </div>

    </div>

    </div>
  </div>

  <div class="w3-col w3-margin-top" w3-include-html="components/football-field.html"></div>
  <article class="w3-col w3-margin-top" w3-include-html="components/soft-skills.html"></article>
