<div class="w3-display-container w3-text-white w3-tiny">
  <img src="img/football_field.png" alt="football field" style="width:100%">
  <div class="w3-padding w3-display-topleft">HTML5</div>
  <div class="w3-padding w3-display-topright">PHP7</div>
  <div class="w3-padding w3-display-bottomleft">CSS3</div>
  <div class="w3-padding w3-display-bottomright">node.JS</div>
  <div class="w3-padding w3-display-topmiddle">W3.js</div>
  <div class="w3-padding w3-display-left">Twig</div>
  <div class="w3-padding w3-display-right">Symphony4</div>
  <div class="w3-padding w3-display-middle">JS</div>
  <div class="w3-padding w3-display-bottommiddle">jQuery</div>
</div>
