<div class="w3-display-container w3-text-white w3-tiny">
  <img src="img/football_field.png" alt="football field" style="width:100%">

  <!-- back -->
  <div class="w3-padding w3-display-right">Symphony <span class="w3-tag w3-circle w3-green">1</span> </div>
  <div class="w3-padding w3-display-topright"><span class="w3-tag w3-circle w3-green">2</span> <br> PHP </div>
  <div class="w3-padding w3-display-bottomright"><span class="w3-tag w3-circle w3-green">3</span><br> node.JS</div>

  <!-- middle -->
  <div class="w3-padding w3-display-topmiddle"><span class="w3-tag w3-circle w3-green">8</span><br> W3.js</div>
  <div class="w3-padding w3-display-middle"><span class="w3-tag w3-circle w3-green">10 </span> JS</div>
  <div class="w3-padding w3-display-bottommiddle"><span class="w3-tag w3-circle w3-green">6</span><br> jQuery</div>

  <!-- front -->
  <div class="w3-padding w3-display-topleft"><span class="w3-tag w3-circle w3-green">7</span><br> HTML</div>
  <div class="w3-padding w3-display-left"><span class="w3-tag w3-circle w3-green">9</span>  Twig</div>
  <div class="w3-padding w3-display-bottomleft"><span class="w3-tag w3-circle w3-green">11</span><br> CSS</div>


</div>
