

  <div class="w3-col w3-border-top w3-margin">
    <h2 class="w3-container w3-large w3-margin-bottom">Front-end</h2>
      <div class="w3-light-grey w3-round w3-margin-bottom">
        <div class="w3-container w3-round w3-green w3-card" style="width:85%">85%</div>
      </div>
      <h3 class="w3-container w3-medium w3-left">langages</h3>
        <ul>
          <li>90 HTML5</li>
          <li>85 CSS3</li>
          <li>79 twig</li>
          <li>85 JS</li>
        </ul>
        <h3 class="w3-container w3-medium w3-left">FramWorks</h3>
        <ul>
          <li>90 w3.CSS</li>
          <li>85 jQuery</li>
          <li>59 bootStrap</li>
          <li>20 W3.js</li>
        </ul>
  </div>
