

  <div class="w3-col w3-border-top w3-margin">
    <h2 class="w3-container w3-large w3-margin-bottom">Front-end</h2>
      <div class="w3-light-grey w3-round w3-margin-bottom">
        <div class="w3-container w3-round w3-card stats-gradient-high " style="width:85%;">85%</div>
      </div>
      <h3 class="w3-container w3-medium w3-left">techno</h3>
        <ul id="frontEnd">
          <li w3-repeat="frontEnd">{{skill}}</li>
        </ul>
  </div>
  <div class="w3-col w3-border-top w3-margin">
    <h2 class="w3-container w3-large w3-margin-bottom">library</h2>
      <div class="w3-light-grey w3-round w3-margin-bottom">
        <div class="w3-container w3-round w3-card stats-gradient-high" style="width:85%">85%</div>
      </div>
      <h3 class="w3-container w3-medium w3-left">techno</h3>
        <ul id="library">
          <li w3-repeat="library">{{skill}}</li>
        </ul>
  </div>
  <div class="w3-col w3-border-top w3-margin">
    <h2 class="w3-container w3-large w3-margin-bottom">template eng</h2>
      <div class="w3-light-grey w3-round w3-margin-bottom">
        <div class="w3-container w3-round w3-card stats-gradient-high" style="width:80%">80%</div>
      </div>
      <h3 class="w3-container w3-medium w3-left">techno</h3>
        <ul id="templating">
          <li w3-repeat="templating">{{skill}}</li>
        </ul>
  </div>
  <div class="w3-col w3-border-top w3-margin">
    <h2 class="w3-container w3-large w3-margin-bottom">SEO</h2>
      <div class="w3-light-grey w3-round w3-margin-bottom">
        <div class="w3-container w3-round w3-card stats-gradient-high" style="width:90%">90%</div>
      </div>
      <h3 class="w3-container w3-medium w3-left">techno</h3>
        <ul id="seo">
          <li w3-repeat="seo">{{skill}}</li>
        </ul>
  </div>
