<h1 class="w3-panel w3-text-white w3-card" style="background-image: linear-gradient(to right, #151e2d , #000153);width:100%;">Details</h1>
<h2 class="w3-panel w3-text-white w3-card" style="background-image: linear-gradient(to right, #151e2d , #000153);width:100%;">Développement web</h2>

  <article class="w3-col l4 m12 s12 w3-padding" w3-include-html="components/front-end.html"></article>
  <article class="w3-col l4 m12 s12 w3-padding" w3-include-html="components/back-end.html"></article>
  <article class="w3-col l4 m12 s12 w3-padding" w3-include-html="components/frameworks.html"></article>

  <article class="w3-col l4 m12 s12 w3-padding" w3-include-html="components/tools.html"></article>
