
  <div class="w3-col w3-border-top w3-margin">
    <h2 class="w3-container w3-large w3-margin-bottom">Soft Skills</h2>
      <div class="w3-light-grey w3-round w3-margin-bottom">
        <div class="w3-container w3-round w3-green w3-card" style="width:85%">85%</div>
      </div>
         <ul>
          <li>Créativité</li>
          <li>Esprit d’entreprendre</li>
          <li>Audace</li>
          <li>Motivation</li>
          <li>vision</li>
          <li>visualisation</li>
          <li>Résolution de problèmes</li>
          <li>confiance</li>
          <li>Intelligence émotionnelle</li>
          <li>Communication</li>
          <li>Présence</li>
          <li>Sens du collectif</li>
          <li>Empathie</li>
          <li>Gestion du stress</li>
        </ul>

  </div>
