
<div class="w3-col w3-border-top w3-margin">
    <h2 class="w3-container w3-large w3-margin-bottom">Tools</h2>
      <div class="w3-light-grey w3-round w3-margin-bottom">
        <div class="w3-container w3-round w3-green w3-card" style="width:85%">85%</div>
      </div>
      <h3 class="w3-container w3-medium w3-left">versionning</h3>
        <ul id="versionning">
          <li w3-repeat="versionning">{{skill}}</li>
        </ul>

        <h3 class="w3-container w3-medium w3-left">IDE</h3>
          <ul id="ide">
            <li w3-repeat="ide">{{skill}}</li>
          </ul>

        <h3 class="w3-container w3-medium w3-left">FTP</h3>
            <ul id="ftp">
              <li w3-repeat="ftp">{{skill}}</li>
            </ul>
  </div>
